.page {
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: black;
  max-width: 1920px;
}

* {
  box-sizing: border-box;
}

.main-pictures {
  background-image: url(../../images/flovers.png),
    url(../../images/firstBlock_Big.jpg);
  height: 922px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

@media screen and (max-width: 1280px) {
  .main-pictures {
    background-image: url(../../images/firstBlock_Big.jpg)
  }
}

@media screen and (max-width: 1024px) {
  .main-pictures {
    background-image: url(../../images/firstBlock__middle.jpg);
  }
}

@media screen and (max-width: 865px) {
  .main-pictures {
    background-image: url(../../images/firstBlock__middle.jpg);
    background-size: cover;
    background-position: 78%;
  }
}

@media screen and (max-width: 768px) {
  .main-pictures {
    background-image: url(../../images/firstBlock_small.jpg);
  }
}