.page-test {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.popup-test__main {
    top: 10px;
    position: sticky;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    border: 1px solid green;

}

.popup-test_cross {
    width: 50px;
    height: 50px;
    position: relative;
    top: -10px;
    left: 515px;
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
    color: #7360e7;
}


.page-test__form {
    background-color: white;
    border: 5px solid #737ff3;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.page-test__main-title {
    text-align: center;
    margin-bottom: 0;
}

.page-test__question-item {
    margin-bottom: 10px;
}

.page-test__title {
    text-align: center;
    margin-bottom: 5px;
}

.page-test__name-and-telephone {
    display: flex;
    flex-direction: column;
}

.page-test__input {
    margin-bottom: 10px;
}

.page-test__label {
    margin-bottom: 10px;
}

.page-test__button {
    width: 150px;
    height: 60px;
    background: linear-gradient(92.23deg, #737ff3 0%, #7360e7 100%);
    border-radius: 15px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}


@media screen and (max-width:1778px) {
    .popup-test_cross {
        left: 500px;
    }
}

@media screen and (max-width:1626px) {
    .popup-test_cross {
        left: 485px;
    }
}

@media screen and (max-width:1525px) {
    .popup-test_cross {
        left: 465px;
    }
}

@media screen and (max-width:1326px) {
    .popup-test_cross {
        left: 380px;
    }
}