.popup-test {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.popup-test_none {
    display: none;
}

.popup-test__main {
    top: 10px;
    position: absolute;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;    
}

.popup-test_cross {
    width: 50px;
    height: 50px;
    position: relative;
    top: -10px;
    left: 515px;
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
    color: #7360e7;
}

.popup-test__questions{
    display: flex;
    flex-direction: column;
}


.popup-test__form {
    background-color: white;
    border: 5px solid #737ff3;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.popup-test__main-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.popup-test__question-item {
    margin-bottom: 10px;
}

.popup-test__title {
    text-align: center;
    margin-bottom: 5px;
}

.popup-test__name-and-telephone {
    display: flex;
    flex-direction: column;
}

.popup-test__input {
    margin-bottom: 10px;
}

.popup-test__label {
    margin-bottom: 10px;
}

.popup-test__button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 60px;
    background: linear-gradient(92.23deg, #737ff3 0%, #7360e7 100%);
    border-radius: 15px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
}


@media screen and (max-width:1778px) {
    .popup-test_cross {
        left: 500px;
    }
}

@media screen and (max-width:1626px) {
    .popup-test_cross {
        left: 485px;
    }
}

@media screen and (max-width:1525px) {
    .popup-test_cross {
        left: 465px;
    }
}

@media screen and (max-width:1326px) {
    .popup-test_cross {
        left: 380px;
    }
}

@media screen and (max-width:1185px) {
    .popup-test_cross {
        left: 400px;
    }

    .popup-test__form {
        margin-top: 20px;
        width: 60%;
        height: 65%;
    }

}

@media screen and (max-width:1055px) {
    .popup-test_cross {
        left: 510px;
    }

    .popup-test__form {
        margin-top: 20px;
        width: 70%;
        height: 64%;
    }

    .popup-test__main {
        top: 0px;
        width: 60%;
        height: 20%;
    }
}

@media screen and (max-width:1015px) {
    .popup-test_cross {
        left: 500px;
    }

    .popup-test__form {
        margin-top: 20px;
        width: 75%;
        height: 58%;
    }

    .popup-test__main {
        top: 0px;
        width: 60%;
        height: 20%;
    }
}

@media screen and (max-width:939px) {
    .popup-test_cross {
        left: 535px;
    }

    .popup-test__form {
        margin-top: 20px;
        width: 75%;
        height: 55%;
    }

    .popup-test__main {
        top: 0px;
        width: 70%;
        height: 20%;
    }
}



@media screen and (max-width:893px) {
    .popup-test_cross {
        left: 525px;
    }
}

@media screen and (max-width:869px) {
    .popup-test_cross {
        left: 535px;
    }

    .popup-test__form {
        margin-top: 20px;
        width: 75%;
        height: 45%;
    }

    .popup-test__main {
        top: 0px;
        width: 70%;
        height: 20%;


    }
}

@media screen and (max-width:815px) {
    .popup-test_cross {
        left: 500px;
    }
}

@media screen and (max-width:758px) {
    .popup-test_cross {
        left: 450px;
    }
}

@media screen and (max-width:693px) {
    .popup-test_cross {
        left: 430px;
    }
}


@media screen and (max-width:617px) {
    .popup-test_cross {
        left: 405px;
    }


    .popup-test__main {
        width: 80%;
    }
}

@media screen and (max-width:531px) {
    .popup-test_cross {
        left: 440px;
    }

    .popup-test__main {
        width: 100%;
    }
}


@media screen and (max-width:523px) {
    .popup-test_cross {
        left: 430px;
    }
}

@media screen and (max-width:493px) {
    .popup-test_cross {
        left: 400px;
    }
}

@media screen and (max-width:468px) {
    .popup-test_cross {
        left: 380px;
    }


    .popup-test__form {
        margin-top: 40px;
        height: 44%;
    }


}

@media screen and (max-width:441px) {
    .popup-test_cross {
        left: 360px;
    }
}

@media screen and (max-width:425px) {
    .popup-test_cross {
        left: 340px;
    }

    .popup-test__form {
        margin-top: 40px;
        height: 44%;
        width: 80%;
    }
}

@media screen and (max-width:390px) {
    .popup-test_cross {
        left: 320px;
    }

    .popup-test__form {
        margin-top: 40px;
        height: 43%;
    }
}

@media screen and (max-width:390px) {
    .popup-test_cross {
        left: 310px;
    }

    .popup-test__form {
        height: 43%;
    }
}


@media screen and (max-width:355px) {
    .popup-test_cross {
        left: 300px;
    }

    .popup-test__form {
        height: 43%;
    }
}

@media screen and (max-width:345px) {
    .popup-test_cross {
        left: 290px;
    }

}

@media screen and (max-width:330px) {
    .popup-test_cross {
        left: 280px;
    }

}

@media screen and (max-width:320px) {
    .popup-test__form {
        height: 45%;
    }
}