.header {
   display: flex;
   justify-content: space-between;
   width: 1440px;
   padding-top: 31px;
   z-index: 1;
   margin-left: auto;
   margin-right: auto;
}

.navtab {
   display: flex;
   align-items: center;
   gap: 40px;

}

.navtab__item {
   text-decoration: none;
   color: black;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
}

.navtab__item_main {
   color: #4553D7;

}

.navtell {
   display: flex;
   gap: 24px;
   align-items: center;
}

.navtell__item:first-letter {
   color: #7360E7;
}

.navtell__item {
   text-decoration: none;
   color: black;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 34px;
}

.navtell__reguest-call {
   width: 307px;
   height: 69px;
   border-radius: 15px;
   border: none;
   background-image: linear-gradient(#7A86EE, #715EE0);
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navtab__burger {
   display: none;
}

.menu-burger {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   z-index: 1;
   background-color: #FFFFFF;
}

.menu-burger_none{
   display: none;
}

.menu-burger__navigation {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   margin-top: 100px;
}

.menu-burger__item {
   text-decoration: none;
   color: black;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 34px;
   border: none;
   background: transparent;
}


.menu-right__close {
   cursor: pointer;
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: white;
   border: none;
   font-size: 24px;
   color: #7360e7;
   top: 20px;
   left: 85%;
   z-index: 3;
}

@media screen and (max-width:1910px) {
   .header {
      width: calc(1440px - 10px);
   }
}


@media screen and (max-width:1510px) {
   .header {
      padding-top: 50px;
      width: 1116.46px;
      height: 45.78px;
   }

   .navtab__item {
      font-size: 16px;
      line-height: 20px;
   }

   .navtell__item {
      font-size: 20px;
      line-height: 24px;
   }


   .navtell__reguest-call {
      width: 203.67px;
      height: 45.78px;
      font-size: 18px;
      line-height: 22px;
   }

}


@media screen and (max-width:1280px) {
   .navtab {
      gap: 20px;
   }

   .navtab__item {
      font-size: 16px;
    
   }

   .navtell__item {
      font-size: 20px;
   }

   .navtell__reguest-call {
      width: 203.67px;
      height: 45.78px;
      font-size: 18px;
      border-radius: 10px;
   }
}

@media screen and (max-width:1125px) {
   .header {
      align-items: center;
      padding-left: 10px;
      padding-right: 30px;
      width: 95%;
   }

   .navtab {
      gap: 15px;
      display: none;
   }

   .navtab__item {
      font-size: 12px;
   }


   .navtell__item {
      font-size: 28px;
   }

   .navtell__reguest-call {
      width: 307px;
      height: 69px;
      font-size: 24px;
      border-radius: 10px;
   }

   .navtab__burger {
      display: block;
      border: none;
      background: transparent;
   }

   .navtab__icon {
      width: 50px;
      height: 50px;
   }
}


@media screen and (max-width:868px) {
   .menu-burger{
      position: absolute;
      top: 0;
      z-index: 3;
   }
   
}

@media screen and (max-width:768px) {
   .header {
      align-items: center;
      width: 90%;
   }

   .navtell__item {
      font-size: 20px;
   }

   .navtell__reguest-call {
      width: 203.67px;
      height: 45.78px;
      font-size: 18px;
   }


   .navtab__icon {
      width: 50px;
      height: 50px;
   }
}

@media screen and (max-width:568px) {
   
   .navtell__item {
      font-size: 16px;
   }

   .navtell__reguest-call {
      width: 150.67px;
      height: 45.78px;
      font-size: 12px;
   }

}

@media screen and (max-width:469px) {
   
   .navtell {
      position: absolute;
      right: 5%;
      width: 75%;
      gap: 15px;
   }

}

@media screen and (max-width:459px) {
   
   .navtell {
      position: absolute;
      right: 2%;
      width: 80%;
      gap: 15px;
   }

   .navtell__item {
      font-size: 14px;
   }

}

@media screen and (max-width:425px) {
   
   .header {
      width: 100%;
   }

}

@media screen and (max-width:400px) {

   .navtell {
     flex-direction: column;
     top: 20px;
   }

   .navtell__item {
      font-size: 16px;
   }
   
   .navtell__reguest-call {
      width: 153.67px;
      height: 45.78px;
     
   }
   .navtab__icon {
      width: 35px;
      height: 35px;
   }
   

}
